.rightSection {
  overflow: auto;
  justify-content: start;
  align-items: stretch;
}

.leftSection {
  overflow: auto;
  justify-content: start;
  align-items: stretch;
}

.app-topics {
  width: 100%;
}

.app-categories {
  width: 100%;
  margin-top: 50px;
}
