.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: #343a40;
  position: sticky;
  top: 0;
  z-index: 1;
  a {
    color: #fff;
    &:hover {
      color: rgb(0, 106, 245);
      transition: 0.5s;
    }
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.nav-item {
  margin: 0 10px;
  font-size: 0.8em;
}