.leftSection__category {
  padding: 10px;
  border: solid 1px rgb(230, 230, 230);
  background-color: #fff;
  margin: 30px 0;
}

.leftSection__category--item {
  margin: 5px 0;
}

.rightSection__topic--title {
  a {
    font-size: 1.3em;
  }
  margin-bottom: 10px;
}

.rightSection__topic--posts {
  display: inline-block;
  margin: 0 10px 10px 10px;
}
.rightSection__topic--watch {
  display: inline-block;
  margin: 0 10px 10px 10px;
}
.rightSection__topic--detailLink {
  display: inline-block;
  margin: 0 10px 10px 10px;
}
.rightSection__topic--watchList {
  display: inline-block;
  margin: 0 10px 10px 10px;
}

.pagination {
  justify-content: center;
}