.post {
  margin: 30px 0;
}

.post__form--actions {
  margin-top: 20px;
}

.topic__postCard {
  border-top: solid 1px rgb(230, 230, 230);
  padding: 10px 20px;
  margin: 20px 0;
}

.topic__postCard--postTime {
  margin: 10px 0;
}

.topic__postCard--editLink {
  float: right;
  margin: 0 10px;
}

.topic__postCard--deleteLink {
  float: right;
  margin: 0 10px;
}