.newThread__title {
  text-align: center;
}

.newThread__form {
  margin-top: 10px;
  .newThread__form--field {
    margin-top: 30px;
  }
  .newThread__form--actions {
    margin-top: 50px;
  }
}

.editThread__title {
  text-align: center;
}

.editThread__form {
  margin-top: 10px;
  .editThread__form--field {
    margin-top: 30px;
  }
  .editThread__form--actions {
    margin-top: 50px;
  }
}