.leftSection__profile {
  padding: 10px;
  border: solid 1px rgb(230, 230, 230);
  background-color: #fff;
  .leftSection__profile--item {
    margin-top: 10px;
  }
  .leftSection__profile--name {
    margin-top: 10px;
    margin-left: 20px;
  }
  .leftSection__profile--email {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.leftSection__editLink {
  text-align: center;
  margin-top: 20px;
}

.rightSection__topic {
  border: solid 1px rgb(230, 230, 230);
  background-color: #fff;
  margin: 30px 0;
  padding: 10px 10px;
}