div class="categorySelect__card" id="#{category.name} #{category.name.upcase} #{category.name.downcase}"
  = check_box_tag :category, category.id, false, { id: "#{category.name}" }
  = label_tag "#{category.name}", category.name
