.signup__title {
  text-align: center;
}

.signup__form {
  margin-top: 10px;
  .signup__form--field {
    margin-top: 30px;
  }
  .signup__form--actions {
    margin-top: 50px;
  }
  .signup__form--links {
    margin-top: 30px;
    text-align: center;
  }
}

.userEdit__title {
  text-align: center;
}

.userEdit__form {
  margin-top: 10px;
  .userEdit__form--field {
    margin-top: 30px;
  }
  .userEdit__form--actions {
    margin-top: 50px;
  }
  .userEdit__form--links {
    margin-top: 30px;
    text-align: center;
  }
  .userEdit__form--actions {
    margin-bottom: 10px;
  }
}

.userDelete {
  margin-top: 30px;
}

.userDelete__title {
  text-align: center;
}

.userDelete__description {
  margin-top: 30px;
  .userDelete__form--links {
    margin-top: 30px;
  }
}

.backHome {
  margin-top: 30px;
}

.backHome__form--links {
  text-align: center;
}